/* foot.module.css */

.row {
  display: flex;
}

.col-md-4 {
  flex: 1;
}

.ft {
  flex: 1;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.socialMediaLink {
  color: #000;
  text-decoration: none;
}

.socialMediaLink img {
  width: 20px;
  height: 20px;
}
