*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swiper-slide {
    padding-bottom: 80px;  
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    width: fit-content;
}

#demo-positioned-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{

    top: 60px !important; 
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-m9mp0w-MuiToolbar-root > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-zylse7-MuiButtonBase-root-MuiIconButton-root{
    display: none !important;
}
.MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    display: center !important;
}